*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111;
  color: #fff;
  text-align: center;
}

html,body{
  height: 100%;
  width: 100%;
}

.nav{
  height: 10px;
  width: 100%;
  background-color: yellow;
  position: fixed;
  transform-origin: 0;
}

p{
  font-size: 1.25vw;
}